{% extends "base.html" %}
{% block title %}
{{ curr_user.username }}
{% endblock %}
{% block main %}
<div class="row">
    <div class="col-12 col-sm-9 col-lg-8">
        <h1 class="font-weight-bold">{{ curr_user.username }}{% if is_self_person %}<small class="text-muted"> (Это вы)</small>{% endif %}</h1>
    </div>
    <div class="col-2 col-sm-3 col-lg-4 text-right">
        {% if user.is_authenticated %}
            {% if not is_self_person %}
            <button type="button" class="btn btn-outline-secondary btn-lg">Подписаться</button>
            {% endif %}
        {% else %}
            <div type="button" class="btn btn-outline-secondary disabled btn-lg">Войдите для подписки</div>
        {% endif %}
    </div>
</div>
<hr class="my-4">
<h6 class="font-weight-bold">Описание:</h6>
<p class="text-small-padding">{{ curr_user.person.description }}</p>
<hr class="my-4">
<h6 class="font-weight-bold">Созданные стили:</h6>
<div class="row">
    {% for style in curr_user_works %}
    <div class="col-9 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 mb-3">
        <div class="card bg-light">
            <a class="card-header font-weight-bold" href="{% url 'style-info' style.id %}">{{ style.name }}</a>
            <img class="card-img-top" src="{{ style.image.url }}" alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light custom-list-group-item-small">Сайт: {{ style.site }}</li>
                <li class="list-group-item bg-light custom-list-group-item-small">Подписок: {{ style.subscribed }}</li>
                <li class="list-group-item bg-light custom-list-group-item-small">Оценка: {{ style.average_rating }}</li>
            </ul>
            {% if is_self_person %}
            <div class="card-body py-2">
                <div  class="btn-toolbar">
                    <a href="{% url 'style-update' style.id %}" class="btn btn-outline-secondary btn-sm w-50">Изменить</a>
                    <a href="#" class="btn btn-outline-danger btn-sm w-50">Удалить</a>
                </div>
            </div> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div> 
{% if is_self_person %}
<a href="{% url 'style-add' %}" class="btn btn-secondary text-light">Создать ещё</a>
 {% endif %}
<hr class="my-4">
<h6 class="font-weight-bold">Подписки:</h6>
<div class="row">
    {% for style in curr_user_subs %}
    <div class="col-9 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 mb-3">
        <div class="card bg-light">
            <a class="card-header font-weight-bold" href="{% url 'style-info' style.id %}">{{ style.name }}</a>
            <img class="card-img-top" src="{{ style.image.url }}" alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light custom-list-group-item-small">Автор: <a href="{% url 'person' style.creator.id %}">{{ style.creator }}</a></li>
                <li class="list-group-item bg-light custom-list-group-item-small">Сайт: {{ style.site }}</li>
                <li class="list-group-item bg-light custom-list-group-item-small">Подписок: {{ style.subscribed }}</li>
                <li class="list-group-item bg-light custom-list-group-item-small">Оценка: {{ style.average_rating }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
<hr class="my-4">
<h6 class="font-weight-bold">Подробнее:</h6>
<div class="row">
    <div class="col-12 col-lg-4">
        <table class="table table-borderless">
            <tr>
                <th scope="row">Настоящее имя</th>
                <td>{{ curr_user.first_name }} {{ curr_user.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td>{{ curr_user.email }}</td>
            </tr>
        </table>
    </div>
</div>
<hr class="my-4">
{% endblock %}