{% extends "base.html" %}
{% block title %}
Каталог стилей
{% endblock %}
{% block main %}
<h1 class="font-weight-bold">Каталог стилей</h1>
<div class="row">
    {% for style in styles %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-3 mb-3">
        <div class="card bg-light">
            <div class="card-header font-weight-bold">{{ style.name }}</div>
            <img class="card-img-top" src="{{ style.image.url }}" alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light custom-list-group-item-small">Автор: <a href="{% url 'profile' style.creator.id %}">{{ style.creator }}</a></li>
                <li class="list-group-item bg-light custom-list-group-item-small">Сайт: {{ style.site }}</li>
                <li class="list-group-item bg-light custom-list-group-item-small">Подписок: {{ style.subscribed }}</li>
                <li class="list-group-item bg-light custom-list-group-item-small">Оценка: {{ style.average_rating }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'style-info' style.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}