{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block head %}
<script src={% static "js/style-edit.js" %}></script> 
{% endblock %}

{% load widget_tweaks %}
{% block main %}
<h1><b>{{ title }}</b></h1>
<form action="" method="post" enctype="multipart/form-data" class="pb-4">
    {% csrf_token %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-style-common-tab" data-toggle="tab" href="#nav-style-common" role="tab" aria-controls="nav-style-common"aria-selected="true">
                Common
            </a>
            {% if is_create %}
            <a class="nav-item nav-link" id="nav-style-create-tab" data-toggle="tab" href="#nav-style-create" role="tab" aria-controls="nav-style-create"aria-selected="false">
                Import local styles
            </a>
            {% endif %}
            {% if is_update %}
            <a class="nav-item nav-link" id="nav-style-update-tab" data-toggle="tab" href="#nav-style-update" role="tab" aria-controls="nav-style-update" aria-selected="false">
                Update local styles
            </a>
            {% endif %}
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane fade show active py-3" id="nav-style-common" role="tabpanel" aria-labelledby="nav-style-common-tab">
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.logo.label_tag }}
                <div class="form-control">{{ form.logo }}</div>
            </div>
            <div class="form-group">
                {{ form.site.label_tag }}
                <div class="input-group">
                    {{ form.site|add_class:"custom-select" }}
                    <div class="input-group-append">
                        <button class="btn btn-primary-2" type="button" data-toggle="collapse" data-target="#collapseSite" aria-expanded="false" aria-controls="collapseSite">
                            Create new site
                        </button>
                    </div>
                </div>
                <div class="collapse" id="collapseSite">
                    <small class="form-text text-muted mb-1">Leave the fields blank if you do not want to add a new site.</small>
                    <div class="form-control px-4 py-3">
                        <div class="form-group">
                            <label>Site name:</label>
                            <input name="site_name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Domains:</label>
                            <textarea name="site_urls" class="form-control" rows="2"></textarea>
                            <small class="form-text text-muted">Separate with a space.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.source.label_tag }}
                <code>
                {{ form.source|add_class:"form-control" }}
                </code>
            </div>
            <input type="submit" class="btn btn-primary-2" value="Apply">
        </div>
        {% if is_create %}
        <div class="tab-pane fade py-3" id="nav-style-create" role="tabpanel" aria-labelledby="nav-style-create-tab">
            <div class="row" id="local-styles-create"></div>
        </div>
        {% endif %}
        {% if is_update %}
        <div class="tab-pane fade py-3" id="nav-style-update" role="tabpanel" aria-labelledby="nav-style-update-tab">
            <UPDATE-ID id="{{ style.id }}"></UPDATE-ID>
            <div class="row" id="local-styles-update">
            </div>
        </div>
        {% endif %}
    </div>

</form>
{% endblock %}