{% extends "base.html" %}
{% block title %}Sites{% endblock %}

{% load thumbnail %}
{% block main %}
<h1 class="font-weight-bold">Sites</h1>
<div class="row">
    {% for site in sites %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 my-3">
        <div class="card bg-light">
            <div class="card-body">
                <ul class="list-inline mb-0 d-flex">
                    <li class="list-inline-item">
                        <img src="{{ site.logo|thumbnail_url:'site-logo-tmb' }}" class="rounded pt-1">
                    </li>
                    <li class="list-inline-item">
                        <div><b>{{ site.name }}</b></div>
                        <div>Total styles: 0</div>
                        <a href="{% url 'styles' %}?site={{ site.name }}">Watch styles</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}