{% extends "base.html" %}
{% block title %}{{ person.user.username }}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12 col-lg-9 col-xl-10">
        <h1><b>{{ person.user.username }}{% if person_is_current %} <small class="text-muted h5">(it's you)</small>{% endif %}</b></h1>
    </div>
    <div class="col-sm-12 col-lg-3 col-xl-2">
    </div>
</div>
<hr class="my-4">
<h5 class="font-weight-bold">Created:</h5>
<div class="row">
    {% for person_work in person_works %}
    {% with style=person_work can_edit=person_is_current  %}
    {% include "style-card.html" %}
    {% endwith %}
    {% endfor %}
</div>
<hr class="my-4">
<h5 class="font-weight-bold">Installed:</h5>
<div class="row">
    {% for person_sub in person_subs %}
    {% with style=person_sub  %}
    {% include "style-card.html" %}
    {% endwith %}
    {% endfor %}
</div>
<hr class="my-4">
<hr class="my-4">
{% endblock %}