{% extends "base.html" %}
{% block title %}{{ person.user.username }}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12 col-lg-9 col-xl-10">
        <h1 class="font-weight-bold">{{ person.user.username }}{% if person_is_current %}<small class="text-muted"> (Это вы)</small>{% endif %}</h1>
    </div>
    <div class="col-sm-12 col-lg-3 col-xl-2">
        {% if user.is_authenticated %}
            {% if person_is_current %}
            <div class="btn btn-outline-secondary btn-lg w-100">Настройки</div>
            {% endif %}
        {% endif %}
    </div>
</div>
<hr class="my-4">
<h6 class="font-weight-bold">Описание:</h6>
<p class="text-small-padding">{{ person.description }}</p>
<hr class="my-4">
<h6 class="font-weight-bold">Созданные стили:</h6>
<div class="row">
    {% for person_work in person_works %}
    {% with style=person_work can_edit=person_is_current  %}
    {% include "style-card.html" %}
    {% endwith %}
    {% endfor %}
</div> 
{% if person_is_current %}<a href="{% url 'style-add' %}" class="btn btn-secondary text-light">Создать стиль</a>
{% endif %}
<hr class="my-4">
<h6 class="font-weight-bold">Подписки:</h6>
<div class="row">
    {% for person_sub in person_subs %}
    {% with style=person_sub  %}
    {% include "style-card.html" %}
    {% endwith %}
    {% endfor %}
</div>
<hr class="my-4">
<h6 class="font-weight-bold">Подробнее:</h6>
<div class="row">
    <div class="col-12 col-lg-4">
        <table class="table table-borderless">
            <tr>
                <th scope="row">Настоящее имя</th>
                <td>{{ person.user.first_name }} {{ person.user.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td>{{ person.user.email }}</td>
            </tr>
        </table>
    </div>
</div>
<hr class="my-4">
{% endblock %}