<footer class="footer font-small bg-dark text-white">
    <div class="container">
        <h5 class="text-uppercase text-center pt-4">Links</h5>
        <div class="row">
            <div class="col-6 col-sm-6 text-center">
                <ul class="list-unstyled">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 text-center">
                <ul class="list-unstyled">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright py-3 text-center">ReStyle Catalog</div>
    </div>
</footer>